In [1]:
'''Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple'''

'Q1. Create one variable containing following type of data:\n(i) string\n(ii) list\n(iii) float\n(iv) tuple'

In [2]:
#string

In [9]:
for_string = "rahul"

In [4]:
#list

In [5]:
for_list = [3,5,"rahul",4+5j,True]

In [6]:
#float

In [7]:
for_float = 4.5

In [8]:
#tuple

In [10]:
c = (3,4.5,True,[4,5,6,2],3+5j)

In [11]:
type(c)

tuple

In [12]:
'''Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.'''

'Q2. Given are some following variables containing data:\n(i) var1 = ‘ ‘\n(ii) var2 = ‘[ DS , ML , Python]’\n(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]\n(iv) var4 = 1.'

In [13]:
#first one is string

In [14]:
#second is string

In [15]:
#third is list

In [16]:
#fourth is float

In [17]:
'''Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) ** '''

'Q3. Explain the use of the following operators using an example:\n(i) /\n(ii) %\n(iii) //\n(iv) ** '

In [24]:
# / divison operator  is used for divide

In [19]:
a = 10/5

In [20]:
a

2.0

In [21]:
# % (modular operator ) used for recieveing reminders

In [22]:
b = 20%4

In [23]:
b

0

In [25]:
# // (floor division operator) didnt give the answer datatype float always gives integer

In [26]:
17//4

4

In [27]:
# ** Exponentiation operator in which the first no to the power of the second number

In [28]:
2**4

16

In [29]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.

In [30]:
l = [2,4.5,True,"yash",5+2j,2,4.9,False,"pwskills",34]

In [32]:
for i in l:
    print(i)
    print(type(i))

2
<class 'int'>
4.5
<class 'float'>
True
<class 'bool'>
yash
<class 'str'>
(5+2j)
<class 'complex'>
2
<class 'int'>
4.9
<class 'float'>
False
<class 'bool'>
pwskills
<class 'str'>
34
<class 'int'>

In [33]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#    times it can be divisible.

In [40]:
n = int(input("Enter a number: "))
number_A = 35
count = 0

while number_A % n == 0:
    count += 1
    number_A = number_A / n

if count > 0:
    print(f"number A is divisible by number B {count} times.")
else:
    print("number A is not divisible by number B")

Enter a number:  5

number A is divisible by number B 1 times.

In [43]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#    divisible by 3 or not.

In [45]:
l =[25,3,12,5,7,33,87,34,55,90,14,18,23,22,34,21,56,73,77,67,43,122,567,87,5]

In [50]:
for i in l :
    if i % 3 == 0 :
        print(i,"it is divisible by 3")
    else :
        print(i,"it is not divisble by 3")

25 it is not divisble by 3
3 it is divisible by 3
12 it is divisible by 3
5 it is not divisble by 3
7 it is not divisble by 3
33 it is divisible by 3
87 it is divisible by 3
34 it is not divisble by 3
55 it is not divisble by 3
90 it is divisible by 3
14 it is not divisble by 3
18 it is divisible by 3
23 it is not divisble by 3
22 it is not divisble by 3
34 it is not divisble by 3
21 it is divisible by 3
56 it is not divisble by 3
73 it is not divisble by 3
77 it is not divisble by 3
67 it is not divisble by 3
43 it is not divisble by 3
122 it is not divisble by 3
567 it is divisible by 3
87 it is divisible by 3
5 it is not divisble by 3

In [53]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
##his property.

In [55]:
#mutable list is a mutable data type

In [56]:
l = [2,3.5,True,"yash",4.9j]

In [57]:
l[2]=False

In [58]:
l

[2, 3.5, False, 'yash', 4.9j]

In [59]:
#immutable string is immutable data type

In [60]:
s = "anshul"

In [61]:
s[3]='a'

TypeError: 'str' object does not support item assignment